* {
    box-sizing: border-box;
}

body {
   
    margin: 0;

}

main {
        position: absolute;
    top: 80px;
    bottom: 42px;
    width: 100%;
    padding: 30px;
    
}

header {
    position: relative;
    padding: 8px;
    text-align: left;
    background: #d1f0ff;
    width: all;
    height: 80px;
    -moz-box-shadow: 6px 10px 12px 0px rgba(194,188,194,0.24);
    box-shadow: 0px 5px 5px 0px rgba(194,188,194,0.24);
}

header h1 {
    position: absolute;
    font-size: 24px;
    font-family: Verdana;
    font-style: normal;
    color: #123342;
    padding: 0px;
}

.button {
    border: 1px solid #eee;
    text-align: left;
    background-color: white;
    -webkit-box-shadow: 6px 12px 15px -5px rgba(179,172,179,1);
    -moz-box-shadow: 6px 12px 15px -5px rgba(179,172,179,1);
    box-shadow: 6px 10px 17px -5px rgba(179,172,179,1);
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}


.button p{

	text-align: left;
	text-decoration: none;
	text-align: top left;
	font-size: 20px;
	font-family: serif;

	margin-top: 20px;
	padding-left: 15px;



}

input {

    font-family: Lucida;
	font-size: 20px;
	border: 0;
    color: black;
    font-weight: bold;

}

.form{
	margin-top: 30px;
	width: 100%;
	height: 100px;
	border: 0;
    color: black;
    font-family: Lucida, sans-serif;
    
    font-size: 17px;
}


footer { 
    position: absolute;
    left: 0;
    width: 100%;
    padding: 5px;
    bottom: 0;
}

.image{
   bottom:0;
   position: fixed;
   padding: 8px;
   right: 0;
}

.line {
    margin-top: 50px;
    border-color: lightgray;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

.line p {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}



.card {
            font-weight: 300;
            font-size: 15px;
            width: 300px;
            margin: 40px auto;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            border-radius: 4px;
            overflow: hidden;
        }

        .cardTitle {
            color: #333;
            font-size: 25px;
            margin: 15px 0;
            font-weight: normal;
        }

        .cardContent {
            font-weight: 300;
            padding: 10px 15px;
        }

        .cardContent p {
            font-size: 18px;
            color: #999;
        }

        .cardFooter {
            font-weight: 300;
            border-top: 1px solid #cfcece;
            padding: 10px;
        }

        .cardFooter span {
            font-size: 15px;
            color: #525252;
            font-style: italic;
        }

.icon{
    float: right;
}


